<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Error Tracker Email Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php-example-and-dont-override-travis>
        <env name="MAILTRAP_USERNAME" value="once" />
        <env name="MAILTRAP_PASSWORD" value="once" />
        <env name="MAILTRAP_INBOX" value="once" />
        <env name="MAILTRAP_TOKEN" value="once" />
    </php-example-and-dont-override-travis>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>